extends views/layout

block content
	- var namepage = "contact"
		//-  Map
	section#contact.map
		.container
			.row
				.col-xs-12.col-md-6
					h4  Adresa mea este:
					p
						| Sector 4,
						br
						| Strada Serg. Nitu Vasile nr. 26,
						br
						| etaj 1 - deasupra farmaciei Belladonna
					hr
					h4 Telefon
					p Puteti sa ne contactati telefonic la numarul:
					a(href="tel:0751-02-03-62") 0751.02.03.62
					hr
					h4 Sau prin email
					p completati formularul de&nbsp;
						a(href="#form"): strong mai jos
					small vom incerca sa va raspundem cit mai promt la sugestii
				.col-xs-12.col-md-6
					iframe(width="100%" height="450" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d22807.95975270948!2d26.122219!3d44.392225!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1fe4238c5dae3%3A0xbe23029e01839c79!2sStrada+Ni%C8%9Bu+Vasile+26%2C+Bucure%C8%99ti+041543%2C+Romania!5e0!3m2!1sit!2sit!4v1447074728671" frameborder="0" style="border:0" allowfullscreen)
					//- iframe(width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps?ll=44.391749,26.119838&z=16&t=m&hl=it-IT&gl=IT&mapclient=embed&q=Strada+Ni%C8%9Bu+Vasile+26+Bucure%C8%99ti+041543+Romania")
					//-  br
						small
							a(href="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d22807.95975270948!2d26.122219!3d44.392225!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1fe4238c5dae3%3A0xbe23029e01839c79!2sStrada+Ni%C8%9Bu+Vasile+26%2C+Bucure%C8%99ti+041543%2C+Romania!5e0!3m2!1sit!2sit!4v1447074728671")
								sample
	section.form
		.container.contactForm#form
			.row
				.col-xs-12.col-md-9
					// Nav tabs
					ul.nav.nav-tabs(role="tablist")
						li.active(role="presentation")
							a(href="#contact" aria-controls="contact" role="tab" data-toggle="tab") Contact
						li(role="presentation")
							a(href="#profesor" aria-controls="profile" role="tab" data-toggle="tab") Profesor Contatc
					// Tab panes
					.tab-content
						.tab-pane.active(role="tabpanel" class="" id="contact")
							br
							form
								.row
									.col-xs-12.col-sm-6
										.form-group
											label(for="Numele")
												| Numele dumenvoastra
											input(type="input" class="form-control" id="Numele" placeholder="numele complet va rugam")
										.form-group
											label(for="email de contact")
												| Email
											input(type="input" class="form-control" id="email" placeholder="email de contact")
										.form-group
											label(for="telefon")
												| Telefon
											input(type="input" class="form-control" id="telefon" placeholder="telefon sau mobil")


									.col-xs-12.col-sm-6
										.form-group
											label(for="exampleInputEmail1")
												| Mesajul dumnevoastra
											textarea(class="form-control" rows="8" placeholder="sau daca aveti alte observatii...")
									.col-xs-12.text-center.sectionPadding
										a.btn.btn-lg.btn-ghost-type_two(href="formular.html")
											| Trimite mesajul
									.col-xs-12.text-center.sectionPadding
										p va lumtumim pentru ca ne-ati contactat
						.tab-pane#profesor(role="tabpanel")
							br
							form
								.row
									.col-xs-12.col-sm-6
										.form-group
											label(for="Numele")
												| Prof Numele dumenvoastra
											input(type="input" class="form-control" id="Numele" placeholder="numele complet va rugam")
										.form-group
											label(for="email de contact")
												| Prof Email
											input(type="input" class="form-control" id="email" placeholder="email de contact")
										.form-group
											label(for="telefon")
												| Prof Telefon
											input(type="input" class="form-control" id="telefon" placeholder="telefon sau mobil")
									.col-xs-12.col-sm-6
										.form-group
											label(for="exampleInputEmail1")
												| Prof Mesajul dumnevoastra
											textarea(class="form-control" rows="8" placeholder="sau daca aveti alte observatii...")
									.col-xs-12
										.form-group
											label(for="projectPrez") Incarca fisier*
											input(type="file" id="projectPrez")
											p.help-block daca ai o prezentare (pdf, powerpoint sau alt format) noi o vom analiza cu mare atentie
									.col-xs-12.text-center.sectionPadding
										a.btn.btn-lg.btn-ghost-type_two(href="formular.html")
											| Trimite mesajul
									.col-xs-12.text-center.sectionPadding
										p va lumtumim pentru ca ne-ati contactat
				.col-md-3
					include views/weNeedYou



