extends views/layout

block content
	section.listaCursuri
		.container-fluid.no-gutter.cover
			.row
				.col-xs-12
					img.img-responsive(src="assets/images/header_cursuri.jpg" alt="...")
		.container-fluid
			.row
				//-
					.col-xs-12
					ol.breadcrumb
						li
							a(href="#") Home
						li.active
							a(href="#") Cursuri
				.col-xs-12.col-md-3.col-lg-2
					h5 Filtreaza cursurile
					div.list-group
						a(href="#").list-group-item.active
							.badge 16
							| Toate
						a(href="#").list-group-item
							.badge 14
							| Stiinte
						a(href="#").list-group-item
							.badge 5
							| Arta si creeatie
						a(href="#").list-group-item
							.badge 2
							| Divertisment
						a(href="#").list-group-item
							.badge 5
							| Inteligenta
				.col-xs-12.col-md-9.col-lg-10
						h5 Toate cursurile
						block cursThumb
							- view = "cursThumbCateg"
							.row
								include views/courseThumb
								