extends views/layout

block content
	section.cours
		.container
			.row
				.col-xs-12
					a(href="#tags")
						| Stiinte
					h1 Descopera lumea
				.col-xs-12.col-md-8.col-lg-7
					.description
						p.lead
							| Cursurile CISCO IT Essentials
							| IT Essentials PC Hardware and Software si IT Essentials 2 Network Operating Systems. Asadar vom descrie 
						.visible-xs-block.visible-sm-block
							.virsta
								.pull-left
									h5 
										| Categorii de virsta 
										a.badge(href="modal" data-toggle="modal" data-target="#categoriiVarsta") ?
								.pull-right.a.b
									include assets/images/children_size.svg
							.clearfix
							.well.text-center
								a.btn.btn-lg.btn-ghost-type_two(href="#")
									| Inscrie-te acum
								table.table.table-price
									tr.title
										td(colspan="3")
											em preturile acestui curs
									tr
										td
											h4 small
												br
												small 4-7 ani
										td
											h4 medium
												br
												small 8-12 ani
										td
											h4 large
												br
												small 12-14 ani
									tr
										td
											p.price 120
												span.curency €
										td
											p.price 130
												span.curency €
										td
											p.price 140
												span.curency €
						img.img-responsive(src="assets/images/cover_course_01.jpg" alt="...")
						p
							| Cursurile CISCO IT Essentials
							| IT Essentials PC Hardware and Software si IT Essentials 2 Network Operating Systems. Asadar vom descrie aceste cursuri separat deoarece sunt doua cursuri separate. Subliniem inca de la inceput ca IT Essentials 2 nu este dependent de IT Essentials.
							| IT Essentials PC Hardware and Software
							| cIT Essentials este un curs dezvoltat de compania Cisco Systems ce are ca scop prezentarea in amanunt a tuturor elementelor de baza ce compun un sistem electronic, facandu-se in principal referire la bine cunoscutele PC-uri.
							hr
							strong
								| Cursul este cuprins din doua parti:
							ul
								li computer fundamentals
								li computer advanced
							hr
							| Partea computer fundamentals este alcatuita din 10 capitole ce descriu functionalitatea unui computer de la modul de alimentare si constructia propriu-zisa a acestuia pana la integrarea sa intr-o retea de sisteme. In principal cursul face generalizare la toate tipurile de sisteme informatice, facand referire atat la functionalitatea acestuia din punct de vedere hardware cat si din punct de vedere software. Partea de concepte elementare se finalizeaza cu un modul in care cursantul este invatat sa comunice cu un client pentru a ii putea rezolva acestuia o problema in cel mai scurt timp si cat mai eficient (capitolul Communication Skills).
						hr
						.gallery.row
							.col-xs-6.col-md-3.col-lg-4
								a.thumbnail(href="#")
									img(src="assets/images/imageCourseAction01.png" alt="...")
							.col-xs-6.col-md-3.col-lg-4
								a.thumbnail(href="#")
									img(src="assets/images/imageCourseAction01.png" alt="...")
							.col-xs-6.col-md-3.col-lg-4
								a.thumbnail(href="#")
									img(src="assets/images/imageCourseAction01.png" alt="...")
							.col-xs-6.col-md-3.col-lg-4
								a.thumbnail(href="#")
									img(src="assets/images/imageCourseAction01.png" alt="...")
							.col-xs-6.col-md-3.col-lg-4
								a.thumbnail(href="#")
									img(src="assets/images/imageCourseAction01.png" alt="...")
						hr
						p
							| Cursurile CISCO IT Essentials
							| IT Essentials PC Hardware and Software si IT Essentials 2 Network Operating Systems. Asadar vom descrie aceste cursuri separat deoarece sunt doua cursuri separate. Subliniem inca de la inceput ca IT Essentials 2 nu este dependent de IT Essentials.
							| IT Essentials PC Hardware and Software
							| cIT Essentials este un curs dezvoltat de compania Cisco Systems ce are ca scop prezentarea in amanunt a tuturor elementelor de baza ce compun un sistem electronic, facandu-se in principal referire la bine cunoscutele PC-uri.


				.col-xs-12.col-md-4.col-lg-5
					.well.text-center
						a.btn.btn-lg.btn-ghost-type_two(href="#")
							| Inscrie-te acum
						table.table.table-price
							tr.title
								td(colspan="3")
									em preturile acestui curs
							tr
								td
									h4 small
										br
										small 4-7 ani
								td
									h4 medium
										br
										small 8-12 ani
								td
									h4 large
										br
										small 12-14 ani
							tr
								td
									p.price 120
										span.curency €
								td
									p.price 130
										span.curency €
								td
									p.price 140
										span.curency €
					.virsta
						.pull-left
							h5 
								| Categorii de virsta 
								a.badge(href="modal" data-toggle="modal" data-target="#categoriiVarsta") ?
						.pull-right.a.b
							include assets/images/children_size.svg
					.clearfix
					.timeFrame
						h5 Time frame
						ul
							li
								p 6 zile pentru cei 
									strong mici
							li
								p 8 zile pentru cei 
									strong mijlocii
							li
								p 10 zile pentru cei 
									strong mari
					.clearfix
					.tags
						h5 Tags
						ul.list-inline
							li
								a(href="#tags") limbi straine
							li
								a(href="#tags") stiinta
	#categoriiVarsta.modal.fade
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type="button" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true") &times;
					h4.modal-title Categorii de vista
				.modal-body
					p Iconitele de mai jos reprezinta categoriile de virsta in modul urmator:
					.pull-left 5-7 ani
					.pull-right.a
							include assets/images/children_size.svg
					.clearfix
					.pull-left 8-12 ani
					.pull-right.b
							include assets/images/children_size.svg
					.clearfix
					.pull-left 12-14 ani
					.pull-right.c
							include assets/images/children_size.svg
					.clearfix
				.modal-footer
					button.btn.btn-default(type="button" data-dismiss="modal") Inchide fereastra
					//- button.btn.btn-primary(type="button") Inchide fereastra


