extends views/layout

block content
	include views/carousel
	include views/descriere
	include views/cursuri
	include views/team
	section.cursuriAction
		.container
			.row
				.col-xs-12
					h2.text-center
						| “Cum profita” altii de mine :)
			.row
				.col-sm-12.col-md-6
					.thumbnail.first
						img(src="assets/images/imageCourseAction01.png")
						.caption
							h3
								| Sah mat!
							p
								| Daca ai un micut intre 3 si 7 ani, acest atelier il va purta intr-o lume miraculoasa a plantelor, invatand sa cunoasca si sa respecte natura.
							p
								a.btn.btn-md.btn-ghost-type_one(href="#" role="button") Vezi descriere acompleta
				.col-sm-12.col-md-6
					.thumbnail
						img(src="assets/images/imageCourseAction02.png")
						.caption
							h3
								| Sah mat!
							p
								| Daca ai un micut intre 3 si 7 ani, acest atelier il va purta intr-o lume miraculoasa a plantelor, invatand sa cunoasca si sa respecte natura.
							p
								a.btn.btn-md.btn-ghost-type_one(href="#" role="button") Vezi descriere acompleta