extends views/layout

block content
	section.listaCursuri
		.container-fluid
			.row
				//-
					.col-xs-12
					ol.breadcrumb
						li
							a(href="#") Home
						li.active
							a(href="#") Cursuri
				.col-xs-12.col-md-2
					h5 Filtreaza cursurile
					div.list-group
						a(href="#").list-group-item
							.badge 14
							| Stiinte
						a(href="#").list-group-item
							.badge 5
							| Arta si creeatie
						a(href="#").list-group-item
							.badge 2
							| Divertisment
						a(href="#").list-group-item
							.badge 5
							| Inteligenta
				.col-xs-12.col-md-10
					h5 Toate cursurile
					.row
						.col-sm-6.col-md-3
							include views/courseThumb
						.col-sm-6.col-md-3
							include views/courseThumb
						.col-sm-6.col-md-3
							include views/courseThumb
						.col-sm-6.col-md-3
							include views/courseThumb
						.col-sm-6.col-md-3
							include views/courseThumb
						.col-sm-6.col-md-3
							include views/courseThumb
						.col-sm-6.col-md-3
							include views/courseThumb
						.col-sm-6.col-md-3
							include views/courseThumb
						.col-sm-6.col-md-3
							include views/courseThumb
						.col-sm-6.col-md-3
							include views/courseThumb
						.col-sm-6.col-md-3
							include views/courseThumb
						.col-sm-6.col-md-3
							include views/courseThumb
						.col-sm-6.col-md-3
							include views/courseThumb
						.col-sm-6.col-md-3
							include views/courseThumb
						.col-sm-6.col-md-3
							include views/courseThumb
						.col-sm-6.col-md-3
							include views/courseThumb


	include views/carousel
	include views/descriere
	include views/cursuri
	include views/team
	include views/cursuriAction