section.carousel
	padding: 0 0
	img
		margin: 0 auto
	.carousel-inner
		.item
			p
				padding: .5em
		.item:nth-child(1)
			// muzica
			$culoareaBgMuzica: #91d2ca
			$culoareaBtnMuzica: #f16834
			p
				background: rgba($culoareaBgMuzica, .8)
			.btn-ghost-default
				background: $culoareaBtnMuzica
				border-color: $culoareaBtnMuzica
				color: lighten($culoareaBtnMuzica, 100%)

		.item:nth-child(2)
			// Limbi Straine
			$culoareaBgLimbi: #61ddf9
			$culoareaBtnLimbi: #ffffff
			p
				background: rgba($culoareaBgLimbi, .8)
			.btn-ghost-default
				background: $culoareaBtnLimbi
				border-color: $culoareaBtnLimbi
				color: darken($culoareaBtnLimbi, 40%)
		.item:nth-child(3)
			// Lego
			$culoareaBgLego: #14286d
			$culoareaBtnLego: #ed1c22
			p
				background: rgba($culoareaBgLego, .8)
			.btn-ghost-default
				background: $culoareaBtnLego
				border-color: $culoareaBtnLego
				color: lighten($culoareaBtnLego, 80%)
		.item:nth-child(4)
			// Discount
			$culoareaBgDiscount: #a2d1af
			$culoareaBtnDiscount: #fdd209
			//p
			//	background: rgba($culoareaBgDiscount, .8)
			.btn-ghost-default
				background: $culoareaBtnDiscount
				border-color: $culoareaBtnDiscount
				color: lighten($culoareaBtnDiscount, 100%)

		.item:nth-child(5)
			// Descopera lumea
			$culoareaBgDescopera: #126f65
			$culoareaBtnDescopera: #f1b143
			p
				background: rgba($culoareaBgDescopera, .8)
			.btn-ghost-default
				background: $culoareaBtnDescopera
				border-color: $culoareaBtnDescopera
				color: lighten($culoareaBtnDescopera, 100%)

		.item:nth-child(6)
			// Lumea culorilor
			$culoareaBgLumeaCulorilor: #f8ef38
			$culoareaBtnLumeaCulorilor: #3abfec
			p
				background: rgba($culoareaBgLumeaCulorilor, .8)
			.btn-ghost-default
				background: $culoareaBtnLumeaCulorilor
				border-color: $culoareaBtnLumeaCulorilor
				color: lighten($culoareaBtnLumeaCulorilor, 100%)
		.item:nth-child(7)
			// actorie
			$culoareaBgActorie: #83b7c5
			$culoareaBtnActorie: #fdd209
			p
				background: rgba($culoareaBgActorie, .8)
			.btn-ghost-default
				background: $culoareaBtnActorie
				border-color: $culoareaBtnActorie
				color: lighten($culoareaBtnActorie, 100%)

