.curs.thumbnail
	a(href="#")
		img.img-responsive(src="assets/images/thumb_course_01.jpg" alt="...")
		.caption
			span.label.label-default Arta si creeatie
			h5 Atelierul de ierburi
			//- h3 Sah mat !
			//- h3 Lumea magica a culorilor.
			//- h3 Provocarea LEGO.
			//- h3 Marii constructori LEGO
			//- h3 I did this !
			//- h3 Hand-made:
			//- h3 Curs de actorie si sociodrama
			//- h3 Curs de literatura romana
			//- h3 Cursuri de limbi straine
			//- h3 Teatru de papusi
			//- h3 Pasionat de jurnalism ?
			//- h3 Povesti din fotografii
			//- h3 Programare IT pentru copii

			p.pull-left pt. 5-7 ani
			p.pull-right 5h