if view == "cursThumbCateg"
	.curs.thumbnail
		a(href="descopera_lumea.html")
			img.img-responsive(src="assets/images/thumb_course_01.jpg" alt="...")
			.caption
				a(href="cursuri.html")
					span.label.label-default Arta si creeatie
				a(href="descopera_lumea.html")
					h5 Descopera lumea... 
				//- h3 Sah mat !
				//- h3 Lumea magica a culorilor.
				//- h3 Provocarea LEGO.
				//- h3 Marii constructori LEGO
				//- h3 I did this !
				//- h3 Hand-made:
				//- h3 Curs de actorie si sociodrama
				//- h3 Curs de literatura romana
				//- h3 Cursuri de limbi straine
				//- h3 Teatru de papusi
				//- h3 Pasionat de jurnalism ?
				//- h3 Povesti din fotografii
				//- h3 Programare IT pentru copii

				.pull-left.a.b
					include ../assets/images/children_size.svg
					//- use(xlink:href="#children_size" x="0" y="0")
					
				p.pull-right 5h

if view == "cursThumbSidebar"
	.curs.thumbnail
		a(href="descopera_lumea.html")
			img.img-responsive(src="assets/images/thumb_course_01.jpg" alt="...")
			.caption
				//-a(href="cursuri.html")
					span.label.label-default Arta si creeatie
				a(href="descopera_lumea.html")
					h5 Descopera lumea... 
				//- h3 Sah mat !
				//- h3 Lumea magica a culorilor.
				//- h3 Provocarea LEGO.
				//- h3 Marii constructori LEGO
				//- h3 I did this !
				//- h3 Hand-made:
				//- h3 Curs de actorie si sociodrama
				//- h3 Curs de literatura romana
				//- h3 Cursuri de limbi straine
				//- h3 Teatru de papusi
				//- h3 Pasionat de jurnalism ?
				//- h3 Povesti din fotografii
				//- h3 Programare IT pentru copii

				//- .pull-left.a.b
					include ../assets/images/children_size.svg
					//- use(xlink:href="#children_size" x="0" y="0")
					
				//- p.pull-right 5h