
<section class="descriere">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 no-gutter text-center"><img src="assets/images/spechHome.png" title="" alt="Sunt un centru de activitati educative pentru copiii intre 3 si 14 ani si chiar mai mari, situat in sudul capitalei."/></div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 no-gutter">
        <h2>Bufnita din Tei, se prezinta:</h2>
        <p class="lead">Contrar asteptarilor, mi-am facut cuibul intr-o cladire foarte luminoasa, chiar la strada (vis-à-vis de Piata Big Berceni), cu o amenajare placuta ochiului si mintii.<br/>Si pentru ca nu sunt o bufnita oarecare, ci una care prefera umbra ramurilor de tei, vei vedea ca am obiceiuri neobisnuite; de exemplu, imi place sa filozofez pe diverse teme, sa construiesc, sa mesteresc, dar si sa ma delectez cu delicatul “parfum al teilor in floare”.</p><a class="btn btn-md btn-ghost-type_one">Vezi mai multe</a>
      </div>
    </div>
  </div>
</section>