section.newsletter
	.container-fluid
		.container.owlBg
			.row
				form

					.col-sm-12.col-lg-10.col-lg-offset-2
						h3 Newsletter
					.form-group.col-xs-12.col-sm-5.col-md-7.col-lg-4.col-lg-offset-2
						label.sr-only(for="email") Email address
						input.input-lg.form-control(type="email" id="email" placeholder="Email")
					.col-xs-12.col-sm-7.col-md-5.col-lg-4
						button.pull-right.btn-lg.btn.btn-default.btn-primary(type="submit") Inscrie-ma la update-uri pe email
				br