if view == "profDetailSidebar"
	hr
	.profesor
		.col-xs-4
			a.text-center(href="#profesor")
				img.img-responsive.img-circle(src="assets/images/profDefault.jpg")
		.col-xs-12
			h5
				small profsor Universitar
				br
				a(href="#profesor") Batman Forever
			p
				| Profesorul Kelp Julius este tocilar, bâlbâit și fără curaj, de asemenea suferă de miopie avansată.
				| Dar toate se schimbă când expertul în chimie Kelp Julius inventează o poțiune care-l transformă într-un tip sexy pe nume Buddy Love care atrage toate femeile.
				| Din păcate, există și un efect secundar: Buddy nu poate controla perioada care-i rămâne până când se transformă înapoi în Julius, acesta fiind un eveniment care se întâmplă întotdeauna în momentele cele mai nepotrivite.
	.clearfix

else
	hr
	.profesor
		.col-xs-4
			a.text-center(href="#profesor")
				img.img-responsive.img-circle(src="assets/images/profDefault.jpg")
		.col-xs-12
			h5
				small profsor Universitar - else
				br
				a(href="#profesor") Batman Forever
			p
				| Profesorul Kelp Julius este tocilar, bâlbâit și fără curaj, de asemenea suferă de miopie avansată.
				| Dar toate se schimbă când expertul în chimie Kelp Julius inventează o poțiune care-l transformă într-un tip sexy pe nume Buddy Love care atrage toate femeile.
				| Din păcate, există și un efect secundar: Buddy nu poate controla perioada care-i rămâne până când se transformă înapoi în Julius, acesta fiind un eveniment care se întâmplă întotdeauna în momentele cele mai nepotrivite.
	.clearfix
