section.team
	.container
		.row
			.col-xs-12.text-center
				h2
					| Echipa mea:
			.col-xs-12.col-sm-6.col-md-3.text-center.first
				img.img-circle(src="assets/images/prof01.png")
				h4.text-center
					| Maria mirabela
				a.profLink(href="" title="")
					| Vezi pagina de curs
			.col-xs-12.col-sm-6.col-md-3.text-center.first
				img.img-circle(src="assets/images/prof02.png")
				h4.text-center
					| Jan constantin
				a.profLink(href="" title="")
					| Vezi pagina de curs
			.col-xs-12.col-sm-6.col-md-3.text-center.first
				img.img-circle(src="assets/images/prof03.png")
				h4.text-center
					| Bruce LEE
				a.profLink(href="" title="")
					| Vezi pagina de curs
			.col-xs-12.col-sm-6.col-md-3.text-center.first
				img.img-circle(src="assets/images/prof04.png")
				h4.text-center
					| Batman
				a.profLink(href="" title="")
					| Vezi pagina de curs
			.col-xs-12.text-center
				a.btn.btn-lg.btn-ghost-type_two
					| Vezi alte cursuri