section.team
	.container
		.row
			.col-xs-12.text-center
				h2
					| Echipa mea:
			.col-xs-12.col-sm-6.col-md-3.first.text-center
				img.img-responsive.img-circle(src="assets/images/prof01.png")
				h4
					| Maria mirabela
				a.profLink(href="descopera_lumea.html" title="")
					| Vezi pagina de curs
			.col-xs-12.col-sm-6.col-md-3.first.text-center
				img.img-responsive.img-circle(src="assets/images/profDefault.jpg")
				h4
					| Jan constantin
				a.profLink(href="descopera_lumea.html" title="")
					| Vezi pagina de curs
			.col-xs-12.col-sm-6.col-md-3.first.text-center
				img.img-responsive.img-circle(src="assets/images/prof03.png")
				h4
					| Bruce LEE
				a.profLink(href="descopera_lumea.html" title="")
					| Vezi pagina de curs
			.col-xs-12.col-sm-6.col-md-3.first.text-center
				img.img-responsive.img-circle(src="assets/images/prof04.png")
				h4
					| Batman
				a.profLink(href="descopera_lumea.html" title="")
					| Vezi pagina de curs
			.col-xs-12.text-center
				a.btn.btn-lg.btn-ghost-type_two(href="cursuri.html" title="")
					| Vezi alte cursuri