
<section class="team">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2>Echipa mea:</h2>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 text-center first"><img src="assets/images/prof01.png" class="img-circle"/>
        <h4 class="text-center">Maria mirabela</h4><a href="" title="" class="profLink">Vezi pagina de curs</a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 text-center first"><img src="assets/images/prof02.png" class="img-circle"/>
        <h4 class="text-center">Jan constantin</h4><a href="" title="" class="profLink">Vezi pagina de curs</a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 text-center first"><img src="assets/images/prof03.png" class="img-circle"/>
        <h4 class="text-center">Bruce LEE</h4><a href="" title="" class="profLink">Vezi pagina de curs</a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 text-center first"><img src="assets/images/prof04.png" class="img-circle"/>
        <h4 class="text-center">Batman</h4><a href="" title="" class="profLink">Vezi pagina de curs</a>
      </div>
      <div class="col-xs-12 text-center"><a class="btn btn-lg btn-ghost-type_two">Vezi alte cursuri</a></div>
    </div>
  </div>
</section>