.weneedyou.text-center
	a(href="profesor_form.html")
		img.img-responsive(src="assets/images/weNeedYou.jpg" alt="...")

	p.lead Ai un proiect interesant?
	a.btn.btn-lg.btn-ghost-type_two(href="profesor_form.html")
		| Contacteaza-ne rapid