.well.text-center
	// link catre formular
	a.btn.btn-lg.btn-ghost-type_two(href="formular.html")
		| Inscrie-te acum
	table.table.table-price
		thead
			tr.title
				td(colspan="3")
					em
						| Preturile / categorii de virsta
						a.badge(href="modal" data-toggle="modal" data-target="#categoriiVarsta") ?
			tr
				td: .a
						include ../assets/images/children_size.svg
					//-h4 small
						br
						small 4-7 ani
				td: .b
						include ../assets/images/children_size.svg
					//-h4 medium
						br
						small 8-12 ani
				td: .d
						include ../assets/images/children_size.svg
					//-h4 large
						br
						small 12-14 ani
		tbody
			tr
				td
					p.oldPrice
						del
							| 130
							span.curency RON
				td
					p.oldPrice
						del
							| 150
							span.curency RON
				td
					p.oldPrice
						| -
			tr
				td
					p.price 120
						span.curency RON
				td
					p.price 140
						span.curency RON
				td
					p.price
						small
							| -

h4 condivide acest curs
.ssba.ssba-wrap
	div(style="text-align:left")
		a(data-site="" class="ssba_facebook_share" href="http://www.facebook.com/sharer.php?u=http://devel.bufnitadintei.ro/courses/actorie/")
			img(src="http://devel.bufnitadintei.ro/wp-content/plugins/simple-share-buttons-adder/buttons/simple/facebook.png" title="Facebook" class="ssba ssba-img" alt="Share on Facebook")
		a(data-site="" class="ssba_google_share" href="https://plus.google.com/share?url=http://devel.bufnitadintei.ro/courses/actorie/")
			img(src="http://devel.bufnitadintei.ro/wp-content/plugins/simple-share-buttons-adder/buttons/simple/google.png" title="Google+" class="ssba ssba-img" alt="Share on Google+")
		a(data-site="" class="ssba_twitter_share" href="http://twitter.com/share?url=http://devel.bufnitadintei.ro/courses/actorie/&amp;text=Actorie+")
			img(src="http://devel.bufnitadintei.ro/wp-content/plugins/simple-share-buttons-adder/buttons/simple/twitter.png" title="Twitter" class="ssba ssba-img" alt="Tweet about this on Twitter")
		a(data-site="email" class="ssba_email_share" href="mailto:?subject=Actorie&amp;body=%20http://devel.bufnitadintei.ro/courses/actorie/")
			img(src="http://devel.bufnitadintei.ro/wp-content/plugins/simple-share-buttons-adder/buttons/simple/email.png" title="Email" class="ssba ssba-img" alt="Email this to someone")