section.newsletter
	.container-fluid
		.container.owlBg
			.row
				block newsletterForm
					form

						.col-sm-12.col-lg-8.col-lg-offset-2.text-center
							h3 Newsletter
						.col-sm-12.col-lg-8.col-lg-offset-2.text-center
							.alert.alert-danger(role="alert")
								span.glyphicon.glyphicon-exclamation-sign(aria-hidden="true")
								span.sr-only Error:
								| &nbsp;&nbsp;Aceasta nu este o adresa de mail. 
								a(type="button" data-toggle="modal" data-target="#newsletterModal") triger
						.form-group.col-xs-12.col-sm-5.col-md-7.col-lg-4.col-lg-offset-2
							label.sr-only(for="email") Email address
							input.input-lg.form-control(type="email" id="email" placeholder="Email")
						.col-xs-12.col-sm-7.col-md-5.col-lg-4
							button.pull-right.btn-lg.btn.btn-default.btn-primary(type="submit") Inscrie-ma la update-uri pe email

//- modal newsletter



//- Modal
.modal.fade#newsletterModal(tabindex="-1" role="dialog" aria-labelledby="newsletterModalLabel")
	.modal-dialog(role="document")
		.modal-content
			.modal-header
				button(type="button" class="close" data-dismiss="modal" aria-label="Close")
					span( aria-hidden="true") &times;
				h4.modal-title#newsletterModalLabel Newsletter
			.modal-body
				form
					.alert.alert-danger(role="alert")
						span.glyphicon.glyphicon-exclamation-sign(aria-hidden="true")
						span.sr-only Error:
						| &nbsp;&nbsp;Aceasta nu este o adresa de mail.
					.form-group
						label.sr-only(for="email") Email address
						input.input-lg.form-control(type="email" id="email" placeholder="Email")
					.form-group
						//button.btn.btn-default(type="button" data-dismiss="modal") Close
						button.btn.btn-primary.pull-right(type="button") Inscrie-ma la update-uri pe email
					.clearfix
			//.modal-footer