.addAllCourses.text-center
	h3
		| Cursurile noastre
		br
		small de la cei mai mici la cei mai mari
	hr 
	table.table
		thead
			tr
				td 
					a(href="")
						.a
							include ../assets/images/children_size.svg
						small 4-7 ani
				td 
					a(href="")
						.b
							include ../assets/images/children_size.svg
						small 8-12 ani
				td
					a(href="")
						.d
							include ../assets/images/children_size.svg
						small 12-14 ani
	.clearfix