symbol#limbiStraine
  circle#circle_12_(fill='#FEEBA4', cx='118', cy='118', r='118')
  path(fill='#1E547F', d='M170.8,50.3c-0.3,0-0.6,0-1,0h-31.9c-0.3,0-0.6,0-1,0c-7.9,0.5-14.1,7-14.1,15v53.4c0-8.3,6.7-15,15-15v0.1\
  h31.9c8.3,0,15-6.7,15-15V65.3C184.8,57.3,178.6,50.8,170.8,50.3z')
  path(fill='#57B948', d='M136.9,172.4c0.3,0,0.6,0,1,0h31.9c0.3,0,0.6,0,1,0c7.9-0.5,14.1-7,14.1-15V104c0,8.3-6.7,15-15,15V119\
  h-31.9c-8.3,0-15,6.7-15,15v23.4C122.8,165.4,129,171.9,136.9,172.4z')
  path(fill='#FFFFFF', d='M63.8,50.3c0.3,0,0.6,0,1,0h31.9c0.3,0,0.6,0,1,0c7.9,0.5,14.1,7,14.1,15v53.4c0-8.3-6.7-15-15-15v0.1H64.7\
  c-8.3,0-15-6.7-15-15V65.3C49.7,57.3,55.9,50.8,63.8,50.3z')
  path(fill='#57C9EC', d='M95.5,89.9l-4.6-10.1c0.4-0.6,0.6-1.2,0.6-2c0-1.8-1.4-3.3-3.1-3.5l-5.2-11.5c-0.6-1.2-1.8-2-3.2-2\
  s-2.6,0.8-3.2,2l-5.2,11.5c-1.7,0.2-3.1,1.7-3.1,3.5c0,0.7,0.2,1.4,0.6,2l-4.6,10.1c-0.8,1.8,0,3.8,1.7,4.6c1.8,0.8,3.8,0,4.6-1.7\
  l5.2-11.4h7.8l5.2,11.4c0.6,1.3,1.9,2,3.2,2c0.5,0,1-0.1,1.5-0.3C95.6,93.7,96.3,91.6,95.5,89.9z M79.3,74.3l0.7-1.6l0.7,1.6H79.3z\
  ')
  path(fill='#F15B2A', d='M168,86.8c-1.2,0-6.2-0.3-8.2-5.4h8.1c2.8,0,5-2.2,5-5s-2.2-5-5-5h-8.9v-8.9c0-2.8-2.2-5-5-5s-5,2.2-5,5\
  v8.9H140c-2.8,0-5,2.2-5,5s2.2,5,5,5h7.9c-1.9,4.8-6.6,5.4-8.3,5.4c-2.7,0-5,2.3-5,5c0,2.8,2.2,5,5,5c4.5,0,10.2-1.8,14.2-6.3\
  c4,4.5,9.7,6.3,14.2,6.3c2.8,0,5-2.2,5-5S170.8,86.8,168,86.8z')
  circle(fill='#0C6E63', cx='167.2', cy='156.8', r='3.8')
  circle(fill='#0C6E63', cx='153.8', cy='156.8', r='3.8')
  circle(fill='#0C6E63', cx='140.5', cy='156.8', r='3.8')
