symbol#literaturaRomana
  circle#circle_11_(fill='#FEEBA4', cx='118', cy='118', r='118')
  path(fill='#F0B146', d='M204.2,78.5h-25.9c-2.8,0-5,2.2-5,5v84.4c0,2.8,2.2,5,5,5h25.9c2.8,0,5-2.2,5-5V83.5\
  C209.2,80.7,206.9,78.5,204.2,78.5z')
  rect(x='180.7', y='93.5', fill='#FDD10C', width='21', height='9.8')
  rect(x='180.7', y='148', fill='#FDD10C', width='21', height='9.8')
  path(fill='#FFFFFF', d='M94.1,96c0-9.1-7.4-16.5-16.5-16.5H42.5C33.4,79.5,26,86.8,26,96v80.8c0-9.1,7.4-16.5,16.5-16.5h35.1\
  c9.1,0,16.5,7.4,16.5,16.5V96z')
  path(fill='#868686', d='M77.6,148.3H42.5c-2.8,0-5-2.2-5-5s2.2-5,5-5h35.1c2.8,0,5,2.2,5,5S80.4,148.3,77.6,148.3z')
  path(fill='#868686', d='M77.6,133.5H42.5c-2.8,0-5-2.2-5-5c0-2.8,2.2-5,5-5h35.1c2.8,0,5,2.2,5,5\
  C82.6,131.3,80.4,133.5,77.6,133.5z')
  path(fill='#868686', d='M77.6,118.8H42.5c-2.8,0-5-2.2-5-5s2.2-5,5-5h35.1c2.8,0,5,2.2,5,5S80.4,118.8,77.6,118.8z')
  path(fill='#868686', d='M77.6,104.1H42.5c-2.8,0-5-2.2-5-5s2.2-5,5-5h35.1c2.8,0,5,2.2,5,5S80.4,104.1,77.6,104.1z')
  path(fill='#FFFFFF', d='M162.2,96c0-9.1-7.4-16.5-16.5-16.5h-35.1c-9.1,0-16.5,7.4-16.5,16.5v80.8c0-9.1,7.4-16.5,16.5-16.5h35.1\
  c9.1,0,16.5,7.4,16.5,16.5V96z')
  path(fill='#868686', d='M145.7,148.3h-35.1c-2.8,0-5-2.2-5-5s2.2-5,5-5h35.1c2.8,0,5,2.2,5,5S148.4,148.3,145.7,148.3z')
  path(fill='#868686', d='M145.7,133.5h-35.1c-2.8,0-5-2.2-5-5c0-2.8,2.2-5,5-5h35.1c2.8,0,5,2.2,5,5\
  C150.7,131.3,148.4,133.5,145.7,133.5z')
  path(fill='#868686', d='M145.7,118.8h-35.1c-2.8,0-5-2.2-5-5V99.1c0-2.8,2.2-5,5-5h35.1c2.8,0,5,2.2,5,5v14.7\
  C150.7,116.6,148.4,118.8,145.7,118.8z M115.6,108.8h25.1v-4.7h-25.1V108.8z')
