symbol#lemnHandMade
  circle#circle_9_(fill='#FEEBA4', cx='118', cy='118', r='118')
  path(fill='#764D1F', d='M150.4,103.4H82.6v68.4h67.9c18.9,0,34.2-15.3,34.2-34.2S169.3,103.4,150.4,103.4z')
  circle(fill='#875E26', cx='82.6', cy='137.6', r='34.2')
  circle(fill='#FDC47F', cx='82.6', cy='137.6', r='26.9')
  circle(fill='#875E26', cx='82.6', cy='137.6', r='21.2')
  circle(fill='#FDC47F', cx='82.6', cy='137.6', r='16.6')
  circle(fill='#875E26', cx='82.6', cy='137.6', r='10.9')
  circle(fill='#FDC47F', cx='82.6', cy='137.6', r='6.1')
  polygon(fill='#C2E8FA', points='190.3,85.4 121.7,43.1 102.1,92.3 105.1,100.6 112.2,95.3 112.2,95.4 115.2,103.6 122.3,98.4 \
  122.3,98.4 125.3,106.6 132.4,101.4 135.4,109.6 142.4,104.4 142.5,104.4 145.5,112.7 152.5,107.5 152.6,107.5 155.6,115.7 \
  162.7,110.5 162.7,110.5 165.7,118.7 172.8,113.5 173,113.6')
  path(fill='#764D1F', d='M103.4,47.1l2.2,1.4L94.5,76.2l-7.6-2.5L103.4,47.1 M99.1,29.2L67.1,81l34.9,11.3l19.7-49.2L99.1,29.2\
  L99.1,29.2z')
  polygon(fill='#FFFFFF', points='110.5,91.1 126,52.2 180.3,85.7 130.2,62')
