symbol#pixel
  circle#circle_18_(fill='#FEEBA4', cx='119', cy='119', r='118.5')
  g#New_Symbol_19_
    rect#XMLID_2_(x='112.8', y='82.3', fill='#414042', width='12.2', height='12.2')
  g#New_Symbol_18_
    rect#XMLID_18_(x='112.8', y='180.2', fill='#414042', width='12.2', height='12.2')
  g#New_Symbol_17_
    rect#XMLID_17_(x='137.4', y='57.9', fill='#414042', width='36.6', height='12.2')
  g#New_Symbol_16_
    rect#XMLID_22_(x='125.1', y='70.1', fill='#414042', width='12.2', height='12.2')
  g#New_Symbol_3_17_
    rect#XMLID_16_(x='112.8', y='94.6', fill='#EE3C6F', width='12.2', height='12.2')
  g#New_Symbol_3_16_
    rect#XMLID_5_(x='137.4', y='70.1', fill='#EE3C6F', width='12.2', height='12.2')
  g#New_Symbol_3_15_
    rect#XMLID_50_(x='161.9', y='70.1', fill='#EE3C6F', width='12.2', height='12.2')
  g#New_Symbol_3_14_
    rect#XMLID_23_(x='174', y='82.3', fill='#EE3C6F', width='12.2', height='36.7')
  g#New_Symbol_4_10_
    rect#XMLID_37_(x='149.6', y='70.1', fill='#F387AF', width='12.2', height='12.2')
  g#New_Symbol_5_7_
    rect#XMLID_67_(x='149.6', y='82.3', fill='#F8C1D9', width='12.2', height='36.7')
  g#New_Symbol_5_6_
    rect#XMLID_69_(x='137.4', y='106.8', fill='#F8C1D9', width='12.2', height='24.5')
  g#New_Symbol_5_5_
    rect#XMLID_43_(x='125.1', y='94.6', fill='#F8C1D9', width='12.2', height='48.9')
  g#New_Symbol_6_1_
    rect#XMLID_6_(x='137.4', y='82.3', fill='#FFFFFF', width='12.2', height='24.5')
  g#New_Symbol_3_13_
    rect#XMLID_15_(x='125.1', y='82.3', fill='#EE3C6F', width='12.2', height='12.2')
  g#New_Symbol_15_
    rect#XMLID_14_(x='174', y='70.1', fill='#414042', width='12.2', height='12.2')
  g#New_Symbol_14_
    rect#XMLID_11_(x='186.3', y='82.3', fill='#414042', width='12.2', height='36.7')
  g#New_Symbol_13_
    rect#XMLID_10_(x='174', y='119', fill='#414042', width='12.2', height='12.2')
  g#New_Symbol_12_
    rect#XMLID_9_(x='161.9', y='131.3', fill='#414042', width='12.2', height='12.2')
  g#New_Symbol_11_
    rect#XMLID_8_(x='149.6', y='143.5', fill='#414042', width='12.2', height='12.2')
  g#New_Symbol_10_
    rect#XMLID_7_(x='137.2', y='155.7', fill='#414042', width='12.2', height='12.2')
  g#New_Symbol_9_
    rect#XMLID_57_(x='125.1', y='168', fill='#414042', width='12.2', height='12.2')
  g#New_Symbol_3_12_
    rect#XMLID_56_(x='161.9', y='119', fill='#EE3C6F', width='12.2', height='12.2')
  g#New_Symbol_3_11_
    rect#XMLID_55_(x='149.6', y='131.3', fill='#EE3C6F', width='12.2', height='12.2')
  g#New_Symbol_3_10_
    rect#XMLID_54_(x='137.4', y='143.5', fill='#EE3C6F', width='12.2', height='12.2')
  g#New_Symbol_3_9_
    rect#XMLID_62_(x='125.1', y='155.7', fill='#EE3C6F', width='12.2', height='12.2')
  g#New_Symbol_4_9_
    rect#XMLID_61_(x='161.9', y='82.3', fill='#F387AF', width='12.2', height='36.7')
  g#New_Symbol_4_8_
    rect#XMLID_60_(x='149.6', y='119', fill='#F387AF', width='12.2', height='12.2')
  g#New_Symbol_4_7_
    rect#XMLID_59_(x='137.4', y='131.3', fill='#F387AF', width='12.2', height='12.2')
  g#New_Symbol_4_6_
    rect#XMLID_68_(x='125.1', y='143.5', fill='#F387AF', width='12.2', height='12.2')
  g#New_Symbol_8_
    rect#XMLID_66_(x='64', y='57.9', fill='#414042', width='36.6', height='12.2')
  g#New_Symbol_7_
    rect#XMLID_65_(x='100.6', y='70.1', fill='#414042', width='12.2', height='12.2')
  g#New_Symbol_3_8_
    rect#XMLID_64_(x='88.4', y='70.1', fill='#EE3C6F', width='12.2', height='12.2')
  g#New_Symbol_3_7_
    rect#XMLID_63_(x='64', y='70.1', fill='#EE3C6F', width='12.2', height='12.2')
  g#New_Symbol_3_6_
    rect#XMLID_58_(x='51.7', y='82.3', fill='#EE3C6F', width='12.2', height='36.7')
  g#New_Symbol_4_5_
    rect#XMLID_53_(x='76.2', y='70.1', fill='#F387AF', width='12.2', height='12.2')
  g#New_Symbol_4_4_
    rect#XMLID_52_(x='64', y='82.3', fill='#F387AF', width='12.2', height='36.7')
  g#New_Symbol_6
    rect#XMLID_51_(x='76.2', y='82.3', fill='#FFFFFF', width='24.4', height='24.5')
  g#New_Symbol_5_4_
    rect#XMLID_49_(x='76.2', y='106.8', fill='#F8C1D9', width='12.2', height='12.2')
  g#New_Symbol_5_3_
    rect#XMLID_47_(x='76.2', y='106.8', fill='#F8C1D9', width='85.6', height='12.2')
  g#New_Symbol_5_2_
    rect#XMLID_45_(x='100.6', y='94.6', fill='#F8C1D9', width='12.2', height='48.9')
  g#New_Symbol_3_5_
    rect#XMLID_44_(x='100.6', y='82.3', fill='#EE3C6F', width='12.2', height='12.2')
  g#New_Symbol_6_
    rect#XMLID_42_(x='51.7', y='70.1', fill='#414042', width='12.2', height='12.2')
  g#New_Symbol_5_
    rect#XMLID_40_(x='39.5', y='82.3', fill='#414042', width='12.2', height='36.7')
  g#New_Symbol_4_
    rect#XMLID_35_(x='51.7', y='119', fill='#414042', width='12.2', height='12.2')
  g#New_Symbol_3_
    rect#XMLID_34_(x='64', y='131.3', fill='#414042', width='12.2', height='12.2')
  g#New_Symbol_2_
    rect#XMLID_33_(x='76.2', y='143.5', fill='#414042', width='12.2', height='12.2')
  g#New_Symbol_1_
    rect#XMLID_32_(x='88.5', y='155.7', fill='#414042', width='12.2', height='12.2')
  g#New_Symbol
    rect#XMLID_31_(x='100.6', y='168', fill='#414042', width='12.2', height='12.2')
  g#New_Symbol_3_4_
    rect#XMLID_30_(x='64', y='119', fill='#EE3C6F', width='12.2', height='12.2')
  g#New_Symbol_3_3_
    rect#XMLID_29_(x='76.2', y='131.3', fill='#EE3C6F', width='12.2', height='12.2')
  g#New_Symbol_3_2_
    rect#XMLID_27_(x='88.4', y='143.5', fill='#EE3C6F', width='12.2', height='12.2')
  g#New_Symbol_3_1_
    rect#XMLID_26_(x='100.6', y='155.7', fill='#EE3C6F', width='12.2', height='12.2')
  g#New_Symbol_4_3_
    rect#XMLID_25_(x='76.2', y='119', fill='#F387AF', width='12.2', height='12.2')
  g#New_Symbol_4_2_
    rect#XMLID_19_(x='88.4', y='131.3', fill='#F387AF', width='12.2', height='12.2')
  g#New_Symbol_4_1_
    rect#XMLID_3_(x='100.6', y='143.5', fill='#F387AF', width='12.2', height='12.2')
  g#New_Symbol_5_1_
    rect#XMLID_21_(x='88.5', y='119', fill='#F8C1D9', width='61.4', height='12.2')
  g#New_Symbol_5
    rect#XMLID_20_(x='112.8', y='106.8', fill='#F8C1D9', width='12.2', height='48.9')
  g#New_Symbol_4
    rect#XMLID_13_(x='112.8', y='155.7', fill='#F387AF', width='12.2', height='12.2')
  g#New_Symbol_3
    rect#XMLID_12_(x='112.8', y='168', fill='#EE3C6F', width='12.2', height='12.2')
