symbol#iT
  circle#circle_16_(fill='#FEEBA4', cx='118', cy='118', r='118')
  path(fill='#BEE6F1', d='M73.4,165.6c-13.5,0-24.5-11-24.5-24.5v-56c0-13.5,11-24.5,24.5-24.5h85.5c13.5,0,24.5,11,24.5,24.5v56\
  c0,13.5-11,24.5-24.5,24.5H73.4z')
  path(fill='#C0B0AF', d='M158.9,66.1c10.5,0,19,8.5,19,19v56c0,10.5-8.5,19-19,19H73.4c-10.5,0-19-8.5-19-19v-56\
  c0-10.5,8.5-19,19-19H158.9 M158.9,55.1H73.4c-16.5,0-30,13.5-30,30v56c0,16.5,13.5,30,30,30h85.5c16.5,0,30-13.5,30-30v-56\
  C188.9,68.6,175.4,55.1,158.9,55.1L158.9,55.1z')
  path(fill='#C0B0AF', stroke='#C0B0AF', stroke-miterlimit='10', d='M146.4,187.8H85.8c-3.4,0-6.1-2.7-6.1-6.1s2.7-6.1,6.1-6.1h60.6\
  c3.4,0,6.1,2.7,6.1,6.1S149.8,187.8,146.4,187.8z')
  path(fill='#FFFFFF', d='M103.4,124.1l-19.1-7.6v-6.9l25.5,10.6v8l-25.5,10.6v-7L103.4,124.1z')
  path(fill='#FFFFFF', d='M115.7,143.1V103h10.2v40.1H115.7z')
  path(fill='#FFFFFF', d='M152.4,111.2v31.9h-10.2v-31.9h-12V103h34.2v8.2H152.4z')
